# Wayfound Client Environment Variables
# Development default: http://localhost:5000/api
# Production default: https://full-stack-house-booking-app.onrender.com/api
VITE_API_URL=http://localhost:5000/api
VITE_RAZORPAY_KEY_ID=rzp_test_VluIVfT6rvYkaJ

